<div class="main-form">
    <div class="row">
        <div class="col">
            <form (ngSubmit)="onSubmit()" [formGroup]="diaryForm">
                <div class="form-group">
                    <label for="date">Data</label>
                    <input type="text" class="form-control" formControlName="date">
                    <label for="entry">Wydarzenie</label>
                    <input type="text" class="form-control" formControlName="entry">
                </div>
                <button [disabled]="!diaryForm.valid">Dodaj wydarzenie</button>
            </form>
        </div>
    </div>
</div>
