button {
    margin-right: 10px;
}

.main-table {
    margin: 0px 200px;
}

h2 {
    font-weight: 700;
}

th {
    background-color: hsl(219, 30%, 18%);
    border: none;
    padding: 20px;
}

thead {
    position: sticky;
    top: 0px;
}

td {
    background-color: hsl(217, 28%, 15%);
    padding: 20px;
    font-weight: 400;
}

td:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

tr {
    background-color: hsl(217, 28%, 15%);
    box-shadow: 0px 0px 13px 1px hsl(220, 18%, 10%);
    height: 100%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1.5em;
}

.btn-edit {
    background-color: hsl(198, 60%, 50%);
}

.btn-edit:hover {
    background-color: hsla(198, 60%, 50%, 0.8);
}

.btn-delete {
    background-color: hsl(0, 100%, 63%);
}

.btn-delete:hover {
    background-color: hsla(0, 100%, 63%, 0.8);
}

button:hover {
    color: white;
    transition: 0.3s ease;
}

@media (max-width: 1000px) {
    .main-table {
        margin: 0px 100px;
    }
}

@media (max-width: 767px) {
    .main-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 30px;
    }
}