<div class="main-table">
    <h2>Witaj w My Diary</h2>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Wydarzenie</th>
                <th *ngIf="isAuthenticated">Edytuj/Usuń</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diaryEntry of diaryEntries; let i = index">
                <td>{{diaryEntry.date}}</td>
                <td>{{diaryEntry.entry}}</td>
                <td *ngIf="isAuthenticated">
                    <button (click)="onEdit(diaryEntry.id)" class="btn btn-light btn-edit">Edytuj</button>
                    <button (click)="onDelete(diaryEntry.id)" class="btn btn-danger btn-delete">Usuń</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>