<div class="main-login">
    <div class="row">
        <div class="col">
            <h2>Zaloguj się</h2>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <div class="form-group">
                    <label for="username">Nazwa użytkownika/E-mail</label>
                    <input type="text" class="form-control" formControlName="username">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <button [disabled]="!loginForm.valid">Zaloguj się</button>
            </form>
        </div>
    </div>
</div>
