<div class="main-signup">
    <div class="row">
        <div class="col">
            <h2>Zarejestruj się</h2>
            <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
                <div class="form-group">
                    <label for="username">E-mail</label>
                    <input type="text" class="form-control" formControlName="username">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <button [disabled]="!signupForm.valid">Zarejestruj się</button>
            </form>
        </div>
    </div>
</div>
